extends ../layout

block content
    table
        thread
            tr
                th color
                th modelo
                th ubicacion
        tbody
            each bici in bicis
                tr
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href='/bicicletas/'+bici.id+'/update') Editar
                    td
                        form.inline(method='post' action='/bicicletas/'+bici.id+'/delete')
                            input(type='hidden' name='id' value=bici.id)
                            button.link-button(type='submit' name='submit_param' value='submitid_value' class='btn')= 'Eliminar'
    br
    a(href='/bicicletas/create') +Nueva Bici
    br
    a(href='/') Volver al mapa